<%= form_with(model: my_app) do |form| %>
  <% if my_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(my_app.errors.count, "error") %> prohibited this my_app from being saved:</h2>

      <ul>
        <% my_app.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="input-field">
    <%= form.label :javascript_origins %>
    <%= form.text_field :javascript_origins %>
    <p style="margin:0px;padding:0px;font-size:12px;">Separa por comas los origenes desde los que mandaras peticiones AJAX</p>
  </div>

  <div class="actions">
    <%= form.submit "Enviar", class: "btn"%>
  </div>
<% end %>
