<p id="notice"><%= notice %></p>

<h1>My Apps</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>App</th>
      <th>Javascript origins</th>
      <th>Secret key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_apps.each do |my_app| %>
      <tr>
        <td><%= my_app.user_id %></td>
        <td><%= my_app.title %></td>
        <td><%= my_app.app_id %></td>
        <td><%= my_app.javascript_origins %></td>
        <td><%= my_app.secret_key %></td>
        <td><%= link_to 'Show', my_app %></td>
        <td><%= link_to 'Edit', edit_my_app_path(my_app) %></td>
        <td><%= link_to 'Destroy', my_app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My App', new_my_app_path %>
